
{% extends 'bootstrap4/bootstrap4.html' %}
{% load i18n %}

{% load bootstrap4 %}
{% block bootstrap4_content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">{% trans '首页' %}</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">

      </div>
       {% if request.user.is_authenticated %}
        <b><a href="" style="color:red;">{{ request.user.username }}</a></b>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i>
            <a href="/accounts/logout">{% trans '退出' %}</a>

        </i>
        {% else %}

        <span><a href="/accounts/login">{% trans '登录' %} &nbsp;&nbsp;</a></span>
        <span><a href="/accounts/register">{% trans '注册' %}</a></span>

        {% endif %}
    </nav>
<h1>{% trans '公司招聘职位' %}<span class="badge badge-secondary"></span></h1>


<button class="btn btn-primary">{% trans '点击按钮' %}</button>

<button type="button" class="btn btn-link">Link</button>

{% block content %}

{% endblock %}
{% autoescape off %}
{% bootstrap_messages %}
{% endautoescape %}

</div>
{% endblock %}
