{% extends 'bootstrap4/bootstrap4.html' %}


{% load bootstrap4 %}
{% block bootstrap4_content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">首页</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">招聘者 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">求职技巧</a>
      </li>

    </ul>

  </div>
   {% if request.user.is_authenticated %}
    <b><a href="" style="color:red;">{{ request.user.username }}</a></b>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i><a href="/accounts/logout">退出</a></i>
    {% else %}
    <ul>
    <li><a href="/accounts/login">登录</a></li>
    </ul>
    {% endif %}
</nav>



<h1>xx公司招聘职位</h1>
<p>终于等到你，还好没放弃</p>

<button class="btn btn-primary">点击按钮</button>


<button type="button" class="btn btn-link">Link</button>

{% block content %}

{% endblock %}
{% autoescape off %}
{% bootstrap_messages %}
{% endautoescape %}

</div>
{% endblock %}
